[global]
   workgroup = WORKGROUP
   server string = Samba Server
   server role = standalone server
   guest account = nobody
   map to guest = Bad Password
   passdb backend = smbpasswd:/config/smbpasswd

[{{getv "/samba/share"}}]
   path = /data
   public = no
   writable = yes
   printable = no
